<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="text-muted">MyRecipes footer. The footest.
      <%= link_to "MyRecipes", root_path, class: "navbar-brand", id: "logo" %>
      </p>
    </div>
  </div>
</footer>
